<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RESTful Consumer - Thymeleaf</title>
    <!-- Thêm Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container py-4">
        <h2 class="text-center text-primary mb-4">RESTful Consumer - RestTemplate</h2>
        <div th:replace="~{/student/_form::form}"></div>
         <div th:replace="~{/student/_table::table}"></div>
        
        <hr class="my-4">

        <!-- Bảng hiển thị dữ liệu -->
        
    </div>
    
    <!-- Thêm Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
