<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
<main class="row">
    <div th:each="p : ${items}" class="col-6 col-md-4 mb-3">
        <div class="card text-center">
            <div class="card-header d-flex align-items-center justify-content-center bg-primary-subtle" style="height: 50px;">
                <div class="card-title mb-0 overflow-hidden text-nowrap" style="text-overflow: ellipsis;" th:title="${p.name}" th:utext="${p.name}"></div>
            </div>
            <div class="card-body">
                <a th:href="@{|/product/detail/${p.id}|}">
                    <img th:src="@{|/assets/images/${p.img}|}" style="height: 200px" alt="image" class="img-fluid">
                </a>
            </div>
            <div class="card-footer">
                <div class="row align-items-center">
                    <b class="col-12 col-lg-8 text-start" th:text="${#numbers.formatDecimal(p.price, 0, 'POINT', 0, 'COMMA')} + ' vnđ'"></b>
                    <div class="col-12 col-lg-4 text-end">
                        <button th:attr="ng-click=@{|cart.add('${p.id}')|}" class="btn btn-success">
                            <i class="bi bi-cart-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pagination Buttons -->
	<nav aria-label="Page navigation" class="mt-4">
	    <ul class="pagination justify-content-center">
	        <!-- Previous Button -->
	        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
	            <a class="page-link" th:href="@{|/product/list?page=${currentPage - 1}&size=${pageSize}|}" aria-label="Previous">
	                <span aria-hidden="true">&laquo;</span>
	            </a>
	        </li>
	
	        <!-- Page Numbers -->
	        <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
	            th:classappend="${pageNum == currentPage} ? 'active'">
	            <a class="page-link" th:href="@{|/product/list?page=${pageNum}&size=${pageSize}|}" th:text="${pageNum + 1}"></a>
	        </li>
	
	        <!-- Next Button -->
	        <li class="page-item" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
	            <a class="page-link" th:href="@{|/product/list?page=${currentPage + 1}&size=${pageSize}|}" aria-label="Next">
	                <span aria-hidden="true">&raquo;</span>
	            </a>
	        </li>
	    </ul>
	</nav>
</main>


</body>
</html>
